@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-title]:after {
  content: attr(data-title);
  background-color: #34465C;
  width: 20em;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  font-size: 1em;
  position: absolute;
  border-radius: 0.25em;
  padding: 0.5em 1em 0.5em 1em;
  visibility: hidden;
}

[data-title]:hover:after {
  visibility: visible;
}

/*
  jadi data-title nya ga mau diatas thead karena
  data-title berada didalam thead 
*/

tr:hover td {
  transition: all 300ms ease-in-out;
  background-color: var(--bg-neutral-100);
  border-radius: 0px;
}


th {
  position: sticky;
  top: 0px;
  background: white;
  z-index: 10;
}

th:hover {
  z-index: 11;
}

#cameraTotalScore {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: inset 0 -2px 0 #0284C7;
}

#processorTotalScore {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: inset 0 -2px 0 #DC2626;
}